
.foreground{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    font-size: x-large;
    height: 100%;
}

.foreground svg{
    filter: drop-shadow(0px 0px 15px rgb(220, 179, 15));
}

pre{
    font-family: var(--code);
    font-weight: 400;
    font-size: large;
    padding: 20px;
    box-sizing: border-box;
}

