@import url('https://fonts.googleapis.com/css2?family=Iansui&family=Nova+Square&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Russo+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --text-color: rgba(255, 255, 255, 0.913);
  --bg-color: rgba(0, 0, 0, 0.86);
  --navbar-color: rgb(21, 20, 20);
  --heading: "Russo One";
  --content: "Quicksand";
  --buttons: "Nova Square";
  --code: "Source Code Pro";
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
}

.flexbox {
  display: flex;
}

.grid{
  display: grid;
}


